MuleDotNetExample/muleSolution/src/main/app/mulenetexample1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dotnet="http://www.mulesoft.org/schema/mule/dotnet" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dotnet http://www.mulesoft.org/schema/mule/dotnet/current/mule-dotnet.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <dotnet:config name="DotNet_Connector" assemblyType="muleNetExample001.PersonInterface, muleNetExample001" assemblyPath="D:\GitHub\MuleDotNetExample1\MuleDotNetExample\NetSolution\muleNetExample001\muleNetExample001\bin\Debug\muleNetExample001.dll" scope="Singleton" doc:name="DotNet Connector"/>
    
    <flow name="mulenetexample_payload" doc:name="mulenetexample_payload">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="setpayload" doc:name="HTTP"/>
        <set-payload value="#[['id':1]]" doc:name="Set Payload"/>
        <dotnet:execute config-ref="DotNet_Connector" methodName="GetPerson" doc:name="DotNet Connector"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
    <flow name="mulenetexample_datamapper" doc:name="mulenetexample_datamapper">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="datamapper" doc:name="HTTP"/>
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <dotnet:execute config-ref="DotNet_Connector" methodName="InsertPerson" doc:name="DotNet Connector"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
    <flow name="mulenetexample_bodytoparametermap" doc:name="mulenetexample_bodytoparametermap">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="bodytoparametermap" doc:name="HTTP"/>
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <dotnet:execute config-ref="DotNet_Connector" methodName="InsertPerson" doc:name="DotNet Connector"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
    <flow name="mulenetexample1Flow1" doc:name="mulenetexample1Flow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="return" doc:name="HTTP"/>
        <dotnet:execute config-ref="DotNet_Connector" methodName="GetPersons" doc:name="DotNet Connector"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    
</mule>
